/*Global Styles*/

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #fff8f0;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Typography*/

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #c94c4c;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #8c2f2f;
  margin-top: 1.5em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1em;
}

/*Header & Footer*/

header,
footer {
  background-color: #f4d6cc;
  padding: 1.5em;
  text-align: center;
  border-bottom: 4px solid #c94c4c;
}

footer {
  border-top: 4px solid #c94c4c;
  border-bottom: none;
}

  

/*Navigation*/

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
  background-color: #c94c4c;
}

nav li {
  margin: 0;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 0 1.5em;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
nav li.active a {
    background-color: #8f0000;
    color: #ffffff;
}
/* Wayfinding */
nav a[href$="index.html"]:hover,
nav a[href$="recipes.html"]:hover {
  background-color: #e28888;
}

/*Main Content*/

main {
  padding: 2em;
}

/*Lists */

/* Unordered list */
ul {
  list-style-type: square;
  margin: 1em 0;
  padding-left: 2em;
}

/* Ordered list */
ol {
  margin: 1em 0;
  padding-left: 2em;
}

/* Definition list */
dl {
  margin: 1.5em 0;
  padding: 1em;
  border: 2px solid #c94c4c;
  border-radius: 8px;
  background-color: #ffffff;
}

dt {
  font-weight: 600;
  color: #8c2f2f;
}

dd {
  margin-left: 1em;
  margin-bottom: 0.75em;
}

/*Links & Pseudo Classes*/

a {
  color: #c94c4c;
}

a:hover {
  color: #8c2f2f;
  text-decoration: underline;
}

/*Address Styling*/

address {
  font-style: normal;
  margin-top: 2em;
  padding: 1em;
  border: 2px solid #c94c4c;
  border-radius: 10px;
  background-color: #fdf1ec;
}
